/* FERRY UI KIT */
/* line 9, ../sass/style.scss */
.microtext {
  font-size: 14px;
  color: #FFFFFF;
  font-family: 'Open Sans';
  font-weight: 100;
}

/* Define basic classes */
/* line 17, ../sass/style.scss */
body {
  width: 100%;
  margin: 0 auto;
  background-color: #1b3661;
}
@media screen and (max-width: 667px) {
  /* line 17, ../sass/style.scss */
  body {
    width: 674px;
  }
}

/* line 26, ../sass/style.scss */
a svg:hover #twitter1,
a svg:hover #facebook55,
a svg:hover #google,
a svg:hover #linkedin-logo {
  fill: #1D3763;
}

/* line 33, ../sass/style.scss */
a svg #twitter1,
a svg #facebook55,
a svg #google,
a svg #linkedin-logo {
  transition: 200ms;
}

/* Home Section */
/* line 41, ../sass/style.scss */
.navbar-black {
  padding-top: 20px !important;
  background: #142a4e;
  height: 75px;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
}
/* line 47, ../sass/style.scss */
.navbar-black .logo {
  width: 120px;
  height: 40px;
  margin-top: -7px;
}

/* line 54, ../sass/style.scss */
.container {
  width: 1100px;
  margin: 0 auto;
}
@media screen and (max-width: 667px) {
  /* line 54, ../sass/style.scss */
  .container {
    width: 930px;
  }
}

/* line 62, ../sass/style.scss */
.header {
  /* margin-top: 70px; */
  /* margin-right: 50px; */
  padding-top: 70px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
/* line 71, ../sass/style.scss */
.header .nav > li > a {
  padding: 5px 15px !important;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0.3px;
  text-align: left;
}
/* line 79, ../sass/style.scss */
.header .navbar {
  float: right;
  clear: both;
  font-size: 14px;
  text-align: center;
  background: none;
  border: 0;
  outline: 0;
  box-shadow: none;
  padding: 0;
}
@media screen and (max-width: 667px) {
  /* line 79, ../sass/style.scss */
  .header .navbar {
    display: none;
  }
}
@media screen and (max-width: 1090px) {
  /* line 93, ../sass/style.scss */
  .header .navbar .navbar-nav {
    margin-right: 120px;
  }
}
@media screen and (max-width: 960px) {
  /* line 93, ../sass/style.scss */
  .header .navbar .navbar-nav {
    margin-right: 240px;
  }
}
@media screen and (max-width: 860px) {
  /* line 93, ../sass/style.scss */
  .header .navbar .navbar-nav {
    margin-right: 450px;
  }
}
@media screen and (max-width: 760px) {
  /* line 93, ../sass/style.scss */
  .header .navbar .navbar-nav {
    margin-right: 550px;
  }
}
/* line 106, ../sass/style.scss */
.header .navbar .navbar-nav li > a {
  text-shadow: none;
  color: white;
}
/* line 109, ../sass/style.scss */
.header .navbar .navbar-nav li > a:hover, .header .navbar .navbar-nav li > a:focus {
  background: none;
  border-bottom: 1px solid #1CBEBD;
  color: white;
}
/* line 115, ../sass/style.scss */
.header .navbar .navbar-nav li.active > a {
  border-bottom: 1px solid #1CBEBD;
  background: none;
  outline: 0;
  padding: 5px;
  box-shadow: none;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0.3px;
  text-align: left;
}
/* line 129, ../sass/style.scss */
.header .logo {
  width: 140px;
  height: 50px;
}
/* line 134, ../sass/style.scss */
.header img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
/* line 140, ../sass/style.scss */
.header .dropdown {
  position: relative;
  display: inline-block;
  margin-left: 34%;
  margin-top: -5%;
}
@media screen and (min-width: 667px) {
  /* line 140, ../sass/style.scss */
  .header .dropdown {
    display: none;
  }
}
/* line 150, ../sass/style.scss */
.header .arrow_box {
  position: relative;
  background: #ffffff;
}
/* line 154, ../sass/style.scss */
.header .arrow_box:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  border-width: 30px;
  margin-left: -30px;
}
/* line 169, ../sass/style.scss */
.header .dropdown-content {
  margin-top: 20px;
  margin-left: -141px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
/* line 178, ../sass/style.scss */
.header .dropdown-content .mv-footer-images {
  display: inline;
}
/* line 183, ../sass/style.scss */
.header .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}
/* line 191, ../sass/style.scss */
.header .dropdown-content a:hover {
  color: #00C5DE;
}
/* line 195, ../sass/style.scss */
.header .dropdown:hover .dropdown-content {
  display: block;
}
/* line 199, ../sass/style.scss */
.header .dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/* line 204, ../sass/style.scss */
.home {
  background-image: url("../images/BG_img@2x.png.png");
  background-size: cover;
  color: white;
  height: 740px;
  padding-top: 150px;
}
@media screen and (max-width: 667px) {
  /* line 204, ../sass/style.scss */
  .home {
    background-image: linear-gradient(-180deg, #1c355c 0%, rgba(28, 53, 92, 0.95) 100%);
    width: 674px;
    height: 669px;
  }
}
/* line 215, ../sass/style.scss */
.home .container {
  margin-top: 100px;
}
@media screen and (max-width: 667px) {
  /* line 215, ../sass/style.scss */
  .home .container {
    margin-top: 0;
  }
  /* line 218, ../sass/style.scss */
  .home .container .telephone-1 {
    display: none;
  }
}
/* line 223, ../sass/style.scss */
.home .container .homeheader {
  font-weight: 100;
  margin-left: 20px;
  line-height: 38px;
  width: 400px;
  height: 140px;
  font-size: 28px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: left;
}
@media screen and (max-width: 667px) {
  /* line 223, ../sass/style.scss */
  .home .container .homeheader {
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 0.34px;
    text-align: left;
    margin: 0;
    width: 370px;
    line-height: normal;
  }
}
/* line 243, ../sass/style.scss */
.home .container .donwloadhome {
  width: 200px;
  height: 80px;
  margin-top: 40px;
  display: block;
}
@media screen and (max-width: 667px) {
  /* line 243, ../sass/style.scss */
  .home .container .donwloadhome {
    width: 225px;
    height: 90px;
    display: block;
    margin-top: -80px;
  }
}
/* line 255, ../sass/style.scss */
.home .container .telephone-1 {
  width: 260px;
  height: 545px;
  margin-right: 20px;
  margin-top: -60px;
  float: right;
  clear: both;
}
/* line 263, ../sass/style.scss */
.home .container .telephone-mv {
  display: none;
}
@media screen and (max-width: 667px) {
  /* line 263, ../sass/style.scss */
  .home .container .telephone-mv {
    width: 399px;
    height: 400px;
    display: block;
    margin-top: -20px;
  }
}
/* line 272, ../sass/style.scss */
.home .container .microcontainer {
  margin-top: 10%;
  margin-left: 30%;
}
@media screen and (max-width: 667px) {
  /* line 272, ../sass/style.scss */
  .home .container .microcontainer {
    display: none;
  }
}
/* line 278, ../sass/style.scss */
.home .container .microcontainer .microtext {
  font-size: 14px;
  color: #B4C1CC;
  margin-right: auto;
  letter-spacing: 0;
  text-align: center;
}
/* line 285, ../sass/style.scss */
.home .container .microcontainer .microimage {
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 36px;
  width: 16px;
}
@media screen and (max-width: 1075px) {
  /* line 295, ../sass/style.scss */
  .home .container .telephone-1 {
    margin-right: 150px;
  }
}
@media screen and (max-width: 960px) {
  /* line 300, ../sass/style.scss */
  .home .container .telephone-1 {
    margin-right: 250px;
  }
}
@media screen and (max-width: 860px) {
  /* line 305, ../sass/style.scss */
  .home .container .telephone-1 {
    margin-right: 350px;
  }
}
@media screen and (max-width: 760px) {
  /* line 310, ../sass/style.scss */
  .home .container .telephone-1 {
    margin-right: 450px;
  }
}

/* line 316, ../sass/style.scss */
.waitingtime {
  padding-top: 100px;
}
@media screen and (max-width: 667px) {
  /* line 316, ../sass/style.scss */
  .waitingtime {
    background-image: linear-gradient(-180deg, #17325f 0%, rgba(23, 50, 95, 0.95) 99%);
    width: 674px;
    padding-top: 100px;
  }
}
@media screen and (min-width: 670px) {
  /* line 325, ../sass/style.scss */
  .waitingtime .container .mv-text-container {
    display: none;
  }
}
@media screen and (max-width: 667px) {
  /* line 323, ../sass/style.scss */
  .waitingtime .container {
    width: 674px;
  }
  /* line 331, ../sass/style.scss */
  .waitingtime .container .mv-text-container {
    margin: 0 auto;
    text-align: left;
    width: 70%;
  }
  /* line 335, ../sass/style.scss */
  .waitingtime .container .mv-text-container h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 0.3px;
    text-align: left;
  }
  /* line 342, ../sass/style.scss */
  .waitingtime .container .mv-text-container h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 0.3px;
    margin-top: 40px;
    margin-left: -15px;
  }
  /* line 350, ../sass/style.scss */
  .waitingtime .container .mv-text-container hr {
    color: #979797;
    width: 61px;
    height: 2px;
    margin-left: 31px;
  }
  /* line 356, ../sass/style.scss */
  .waitingtime .container .mv-text-container .location-icon {
    width: 50px;
    height: 50px;
    margin-top: 70px;
    display: block;
    margin-left: 35px;
  }
  /* line 363, ../sass/style.scss */
  .waitingtime .container .mv-text-container p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #ffffff;
    letter-spacing: 0;
    text-align: center;
    width: 60%;
    margin-left: -60px;
  }
}
/* line 374, ../sass/style.scss */
.waitingtime .container .text-container {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
@media screen and (max-width: 667px) {
  /* line 374, ../sass/style.scss */
  .waitingtime .container .text-container {
    display: none;
  }
}
/* line 381, ../sass/style.scss */
.waitingtime .container .text-container h2 {
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
/* line 388, ../sass/style.scss */
.waitingtime .container .text-container hr {
  display: none;
}
/* line 391, ../sass/style.scss */
.waitingtime .container .text-container p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 16px;
  color: #B4C1CC;
  letter-spacing: 0;
  line-height: 26px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}
/* line 404, ../sass/style.scss */
.waitingtime .container .img {
  padding-top: 0px;
  margin-left: 70px;
}
@media screen and (max-width: 667px) {
  /* line 404, ../sass/style.scss */
  .waitingtime .container .img {
    padding-top: 50px;
    margin-left: -95px;
  }
}
/* line 411, ../sass/style.scss */
.waitingtime .container .img #state {
  margin: auto;
  width: 100px;
  display: block;
  height: 100px;
  position: relative;
}
/* line 418, ../sass/style.scss */
.waitingtime .container .img .gps_ring {
  border: 2px solid #00C5DE;
  -webkit-border-radius: 50%;
  height: 18px;
  width: 18px;
  position: absolute;
  left: 71px;
  top: 207px;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.0;
}
@media screen and (max-width: 667px) {
  /* line 418, ../sass/style.scss */
  .waitingtime .container .img .gps_ring {
    left: -119px;
    top: 326px;
  }
}
/* line 434, ../sass/style.scss */
.waitingtime .container .img .gps_ring:before {
  content: "";
  display: block;
  border: 2px solid #00C5DE;
  -webkit-border-radius: 50%;
  height: 30px;
  width: 30px;
  position: absolute;
  left: -8px;
  top: -8px;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 0.1s;
  opacity: 0.0;
}
/* line 449, ../sass/style.scss */
.waitingtime .container .img .gps_ring:after {
  content: "";
  display: block;
  border: 2px solid #00C5DE;
  -webkit-border-radius: 50%;
  height: 50px;
  width: 50px;
  position: absolute;
  left: -18px;
  top: -18px;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 0.2s;
  opacity: 0.0;
}
@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0.0;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0.0;
  }
}
/* line 477, ../sass/style.scss */
.waitingtime .container .img .imggroup {
  position: absolute;
  margin-top: 105px;
  clear: both;
  margin-left: 520px;
}
@media screen and (max-width: 667px) {
  /* line 477, ../sass/style.scss */
  .waitingtime .container .img .imggroup {
    position: absolute;
    margin-top: 220px;
    clear: both;
    margin-left: 200px;
  }
}
/* line 488, ../sass/style.scss */
.waitingtime .container .img .imggroup .bigcircle {
  width: 20px;
}
@media screen and (max-width: 667px) {
  /* line 488, ../sass/style.scss */
  .waitingtime .container .img .imggroup .bigcircle {
    margin-top: -228px;
  }
}
/* line 494, ../sass/style.scss */
.waitingtime .container .img .imggroup .smallcircle {
  width: 10px;
}
@media screen and (max-width: 667px) {
  /* line 494, ../sass/style.scss */
  .waitingtime .container .img .imggroup .smallcircle {
    margin-top: 248px;
    margin-left: 0;
  }
}
/* line 501, ../sass/style.scss */
.waitingtime .container .img .imggroup .textgroup {
  position: absolute;
}
@media screen and (max-width: 667px) {
  /* line 501, ../sass/style.scss */
  .waitingtime .container .img .imggroup .textgroup {
    margin-left: -195px;
    margin-top: 235px;
  }
}
/* line 507, ../sass/style.scss */
.waitingtime .container .img .imggroup .textgroup h5 {
  margin-left: 275px;
  color: #FFFFFF;
}
/* line 511, ../sass/style.scss */
.waitingtime .container .img .imggroup .textgroup p {
  color: #B4C1CC;
  width: 300px;
  margin-left: 217px;
  margin-top: 4px;
  font-size: 14px;
}
/* line 519, ../sass/style.scss */
.waitingtime .container .img .imggroup .horizntalline {
  width: 200px;
}
@media screen and (max-width: 667px) {
  /* line 519, ../sass/style.scss */
  .waitingtime .container .img .imggroup .horizntalline {
    display: none;
  }
}
/* line 525, ../sass/style.scss */
.waitingtime .container .img .imggroup .verticalline {
  height: 250px;
  margin-left: -15px;
  margin-top: 2px;
}
@media screen and (min-width: 670px) {
  /* line 525, ../sass/style.scss */
  .waitingtime .container .img .imggroup .verticalline {
    display: none;
  }
}
/* line 534, ../sass/style.scss */
.waitingtime .container .img .mockup {
  width: 830px;
  height: 420px;
  margin-top: -480px;
  margin-left: -100px;
  z-index: 1;
}
/* line 541, ../sass/style.scss */
.waitingtime .container .img .mockup2 {
  width: 830px;
  height: 420px;
  margin-top: -450px;
  margin-left: -120px;
  z-index: 2;
}
/* line 548, ../sass/style.scss */
.waitingtime .container .img .mockup3 {
  width: 830px;
  height: 420px;
  margin-top: 20px;
  margin-left: -120px;
  z-index: 2;
}
/* line 557, ../sass/style.scss */
.waitingtime .longline {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 120px;
  margin-top: 60px;
}
@media screen and (max-width: 667px) {
  /* line 557, ../sass/style.scss */
  .waitingtime .longline {
    display: none;
  }
}

/* line 569, ../sass/style.scss */
.heatmap {
  padding-top: 100px;
}
@media screen and (max-width: 667px) {
  /* line 569, ../sass/style.scss */
  .heatmap {
    background-image: linear-gradient(-180deg, #17325f 0%, rgba(23, 50, 95, 0.95) 99%);
    width: 674px;
    padding-top: 150px;
  }
}
@media screen and (min-width: 670px) {
  /* line 578, ../sass/style.scss */
  .heatmap .container .mv-text-container {
    display: none;
  }
}
@media screen and (max-width: 667px) {
  /* line 576, ../sass/style.scss */
  .heatmap .container {
    width: 674px;
  }
  /* line 584, ../sass/style.scss */
  .heatmap .container .mv-text-container {
    margin: 0 auto;
    text-align: left;
    width: 70%;
  }
  /* line 588, ../sass/style.scss */
  .heatmap .container .mv-text-container h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 0.3px;
    text-align: left;
  }
  /* line 595, ../sass/style.scss */
  .heatmap .container .mv-text-container h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 0.3px;
    margin-top: 40px;
    margin-left: 15px;
  }
  /* line 603, ../sass/style.scss */
  .heatmap .container .mv-text-container hr {
    color: #979797;
    width: 61px;
    height: 2px;
    margin-left: 31px;
  }
  /* line 609, ../sass/style.scss */
  .heatmap .container .mv-text-container .location-icon {
    width: 70px;
    height: 60px;
    margin-top: 70px;
    display: block;
    margin-left: 22px;
  }
  /* line 616, ../sass/style.scss */
  .heatmap .container .mv-text-container p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #ffffff;
    letter-spacing: 0;
    text-align: center;
    width: 60%;
    margin-left: -60px;
  }
}
/* line 627, ../sass/style.scss */
.heatmap .container .text-container {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
@media screen and (max-width: 667px) {
  /* line 627, ../sass/style.scss */
  .heatmap .container .text-container {
    display: none;
  }
}
/* line 634, ../sass/style.scss */
.heatmap .container .text-container h2 {
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
/* line 641, ../sass/style.scss */
.heatmap .container .text-container hr {
  display: none;
}
/* line 644, ../sass/style.scss */
.heatmap .container .text-container p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 16px;
  color: #B4C1CC;
  letter-spacing: 0;
  line-height: 26px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}
/* line 657, ../sass/style.scss */
.heatmap .container .img {
  padding-top: 430px;
  margin-left: 70px;
}
@media screen and (max-width: 667px) {
  /* line 657, ../sass/style.scss */
  .heatmap .container .img {
    padding-top: 470px;
    margin-left: -95px;
  }
}
/* line 664, ../sass/style.scss */
.heatmap .container .img #state2 {
  margin: auto;
  width: 100px;
  display: block;
  height: 100px;
  position: relative;
}
/* line 671, ../sass/style.scss */
.heatmap .container .img .gps_ring {
  border: 2px solid #00C5DE;
  -webkit-border-radius: 50%;
  height: 18px;
  width: 18px;
  position: absolute;
  left: 71px;
  top: -233px;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.0;
}
@media screen and (max-width: 667px) {
  /* line 671, ../sass/style.scss */
  .heatmap .container .img .gps_ring {
    left: 2px;
    top: -59px;
  }
}
/* line 687, ../sass/style.scss */
.heatmap .container .img .gps_ring:before {
  content: "";
  display: block;
  border: 2px solid #00C5DE;
  -webkit-border-radius: 50%;
  height: 30px;
  width: 30px;
  position: absolute;
  left: -8px;
  top: -8px;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 0.1s;
  opacity: 0.0;
}
/* line 702, ../sass/style.scss */
.heatmap .container .img .gps_ring:after {
  content: "";
  display: block;
  border: 2px solid #00C5DE;
  -webkit-border-radius: 50%;
  height: 50px;
  width: 50px;
  position: absolute;
  left: -18px;
  top: -18px;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 0.2s;
  opacity: 0.0;
}
@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0.0;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0.0;
  }
}
/* line 730, ../sass/style.scss */
.heatmap .container .img .imggroup {
  position: absolute;
  margin-top: -335px;
  clear: both;
  margin-left: 520px;
}
@media screen and (max-width: 667px) {
  /* line 730, ../sass/style.scss */
  .heatmap .container .img .imggroup {
    position: absolute;
    margin-top: -159px;
    clear: both;
    margin-left: 321px;
  }
}
/* line 741, ../sass/style.scss */
.heatmap .container .img .imggroup .bigcircle {
  width: 20px;
}
@media screen and (max-width: 667px) {
  /* line 741, ../sass/style.scss */
  .heatmap .container .img .imggroup .bigcircle {
    margin-top: -146px;
  }
}
/* line 747, ../sass/style.scss */
.heatmap .container .img .imggroup .smallcircle {
  width: 10px;
}
@media screen and (max-width: 667px) {
  /* line 747, ../sass/style.scss */
  .heatmap .container .img .imggroup .smallcircle {
    margin-top: 155px;
    margin-left: -40px;
  }
}
/* line 754, ../sass/style.scss */
.heatmap .container .img .imggroup .textgroup {
  position: absolute;
}
@media screen and (max-width: 667px) {
  /* line 754, ../sass/style.scss */
  .heatmap .container .img .imggroup .textgroup {
    margin-left: -375px;
    margin-top: 145px;
  }
}
/* line 760, ../sass/style.scss */
.heatmap .container .img .imggroup .textgroup h5 {
  margin-left: 275px;
  color: #FFFFFF;
}
/* line 764, ../sass/style.scss */
.heatmap .container .img .imggroup .textgroup p {
  color: #B4C1CC;
  width: 300px;
  margin-left: 217px;
  margin-top: 4px;
  font-size: 14px;
}
/* line 772, ../sass/style.scss */
.heatmap .container .img .imggroup .horizntalline {
  width: 200px;
}
@media screen and (max-width: 667px) {
  /* line 772, ../sass/style.scss */
  .heatmap .container .img .imggroup .horizntalline {
    display: none;
  }
}
/* line 778, ../sass/style.scss */
.heatmap .container .img .imggroup .verticalline {
  height: 155px;
  margin-left: -41px;
  margin-top: 9px;
}
@media screen and (min-width: 670px) {
  /* line 778, ../sass/style.scss */
  .heatmap .container .img .imggroup .verticalline {
    display: none;
  }
}
/* line 787, ../sass/style.scss */
.heatmap .container .img .mockup {
  width: 830px;
  height: 420px;
  margin-top: -480px;
  margin-left: -100px;
  z-index: 1;
}
/* line 794, ../sass/style.scss */
.heatmap .container .img .mockup2 {
  width: 830px;
  height: 420px;
  margin-top: -450px;
  margin-left: -120px;
  z-index: 2;
}
/* line 801, ../sass/style.scss */
.heatmap .container .img .mockup3 {
  width: 830px;
  height: 420px;
  margin-top: 20px;
  margin-left: -120px;
  z-index: 2;
}
/* line 810, ../sass/style.scss */
.heatmap .longline {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 120px;
  margin-top: 60px;
}
@media screen and (max-width: 667px) {
  /* line 810, ../sass/style.scss */
  .heatmap .longline {
    display: none;
  }
}

/* line 822, ../sass/style.scss */
.advancedadvice {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media screen and (max-width: 670px) {
  /* line 822, ../sass/style.scss */
  .advancedadvice {
    padding-top: 100px;
  }
}
@media screen and (min-width: 670px) {
  /* line 830, ../sass/style.scss */
  .advancedadvice .container .mv-text-container {
    display: none;
  }
}
@media screen and (max-width: 667px) {
  /* line 828, ../sass/style.scss */
  .advancedadvice .container {
    width: 674px;
  }
  /* line 836, ../sass/style.scss */
  .advancedadvice .container .mv-text-container {
    margin: 0 auto;
    text-align: left;
    width: 70%;
  }
  /* line 840, ../sass/style.scss */
  .advancedadvice .container .mv-text-container h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 0.3px;
    text-align: left;
  }
  /* line 847, ../sass/style.scss */
  .advancedadvice .container .mv-text-container h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 0.3px;
    margin-top: 40px;
    margin-left: -15px;
  }
  /* line 855, ../sass/style.scss */
  .advancedadvice .container .mv-text-container hr {
    color: #979797;
    width: 61px;
    height: 2px;
    margin-left: 31px;
  }
  /* line 861, ../sass/style.scss */
  .advancedadvice .container .mv-text-container .location-icon {
    width: 50px;
    height: 50px;
    margin-top: 70px;
    display: block;
    margin-left: 35px;
  }
  /* line 868, ../sass/style.scss */
  .advancedadvice .container .mv-text-container p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #ffffff;
    letter-spacing: 0;
    text-align: center;
    width: 60%;
    margin-left: -60px;
  }
}
/* line 879, ../sass/style.scss */
.advancedadvice .container .text-container {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}
@media screen and (max-width: 667px) {
  /* line 879, ../sass/style.scss */
  .advancedadvice .container .text-container {
    display: none;
  }
}
/* line 886, ../sass/style.scss */
.advancedadvice .container .text-container h2 {
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
/* line 893, ../sass/style.scss */
.advancedadvice .container .text-container hr {
  display: none;
}
/* line 896, ../sass/style.scss */
.advancedadvice .container .text-container p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 16px;
  color: #B4C1CC;
  letter-spacing: 0;
  line-height: 26px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}
/* line 909, ../sass/style.scss */
.advancedadvice .container .img {
  margin-left: 70px;
  margin-top: -140px;
}
@media screen and (max-width: 667px) {
  /* line 909, ../sass/style.scss */
  .advancedadvice .container .img {
    margin-left: -289px;
    margin-top: -92px;
  }
}
/* line 916, ../sass/style.scss */
.advancedadvice .container .img #state3 {
  margin: auto;
  width: 100px;
  display: block;
  height: 100px;
  position: relative;
}
@media screen and (max-width: 667px) {
  /* line 916, ../sass/style.scss */
  .advancedadvice .container .img #state3 {
    display: none;
  }
}
/* line 925, ../sass/style.scss */
.advancedadvice .container .img #state3 .gps_ring {
  border: 2px solid #00C5DE;
  -webkit-border-radius: 50%;
  height: 18px;
  width: 18px;
  position: absolute;
  left: 51px;
  top: 303px;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.0;
}
/* line 937, ../sass/style.scss */
.advancedadvice .container .img #state3 .gps_ring:before {
  content: "";
  display: block;
  border: 2px solid #00C5DE;
  -webkit-border-radius: 50%;
  height: 30px;
  width: 30px;
  position: absolute;
  left: -8px;
  top: -8px;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 0.1s;
  opacity: 0.0;
}
/* line 952, ../sass/style.scss */
.advancedadvice .container .img #state3 .gps_ring:after {
  content: "";
  display: block;
  border: 2px solid #00C5DE;
  -webkit-border-radius: 50%;
  height: 50px;
  width: 50px;
  position: absolute;
  left: -18px;
  top: -18px;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 0.2s;
  opacity: 0.0;
}
@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0.0;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0.0;
  }
}
/* line 981, ../sass/style.scss */
.advancedadvice .container .img #state4 {
  margin: auto;
  width: 100px;
  display: block;
  height: 100px;
  position: relative;
}
/* line 987, ../sass/style.scss */
.advancedadvice .container .img #state4 .gps_ring {
  border: 2px solid #00C5DE;
  -webkit-border-radius: 50%;
  height: 18px;
  width: 18px;
  position: absolute;
  left: 18px;
  top: 457px;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.0;
}
@media screen and (max-width: 667px) {
  /* line 987, ../sass/style.scss */
  .advancedadvice .container .img #state4 .gps_ring {
    left: 88px;
  }
}
/* line 1002, ../sass/style.scss */
.advancedadvice .container .img #state4 .gps_ring:before {
  content: "";
  display: block;
  border: 2px solid #00C5DE;
  -webkit-border-radius: 50%;
  height: 30px;
  width: 30px;
  position: absolute;
  left: -8px;
  top: -8px;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 0.1s;
  opacity: 0.0;
}
/* line 1017, ../sass/style.scss */
.advancedadvice .container .img #state4 .gps_ring:after {
  content: "";
  display: block;
  border: 2px solid #00C5DE;
  -webkit-border-radius: 50%;
  height: 50px;
  width: 50px;
  position: absolute;
  left: -18px;
  top: -18px;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 0.2s;
  opacity: 0.0;
}
@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0.0;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0.0;
  }
}
/* line 1046, ../sass/style.scss */
.advancedadvice .container .img .imggroup {
  position: absolute;
  margin-top: 100px;
  clear: both;
  margin-left: 500px;
}
@media screen and (max-width: 667px) {
  /* line 1046, ../sass/style.scss */
  .advancedadvice .container .img .imggroup {
    display: none;
  }
}
/* line 1054, ../sass/style.scss */
.advancedadvice .container .img .imggroup .bigcircle {
  width: 20px;
}
/* line 1057, ../sass/style.scss */
.advancedadvice .container .img .imggroup .smallcircle {
  width: 10px;
}
/* line 1060, ../sass/style.scss */
.advancedadvice .container .img .imggroup .textgroup {
  position: absolute;
}
/* line 1062, ../sass/style.scss */
.advancedadvice .container .img .imggroup .textgroup h5 {
  margin-left: 275px;
  color: #FFFFFF;
}
/* line 1066, ../sass/style.scss */
.advancedadvice .container .img .imggroup .textgroup p {
  color: #B4C1CC;
  width: 300px;
  margin-left: 217px;
  margin-top: 4px;
  font-size: 14px;
}
/* line 1074, ../sass/style.scss */
.advancedadvice .container .img .imggroup .horizntalline {
  width: 200px;
}
/* line 1078, ../sass/style.scss */
.advancedadvice .container .img .imggroup2 {
  position: absolute;
  margin-top: 355px;
  clear: both;
  margin-left: 250px;
}
/* line 1083, ../sass/style.scss */
.advancedadvice .container .img .imggroup2 .bigcircle {
  width: 20px;
}
@media screen and (max-width: 667px) {
  /* line 1083, ../sass/style.scss */
  .advancedadvice .container .img .imggroup2 .bigcircle {
    width: 20px;
    margin-top: -140px;
    margin-left: -14px;
  }
}
/* line 1091, ../sass/style.scss */
.advancedadvice .container .img .imggroup2 .smallcircle {
  width: 10px;
}
@media screen and (max-width: 667px) {
  /* line 1091, ../sass/style.scss */
  .advancedadvice .container .img .imggroup2 .smallcircle {
    width: 10px;
    margin-left: 222px;
    margin-top: 154px;
  }
}
/* line 1099, ../sass/style.scss */
.advancedadvice .container .img .imggroup2 .textgroup {
  position: absolute;
  margin-left: -410px;
}
@media screen and (max-width: 667px) {
  /* line 1099, ../sass/style.scss */
  .advancedadvice .container .img .imggroup2 .textgroup {
    margin-left: -179px;
    margin-top: 141px;
  }
}
/* line 1106, ../sass/style.scss */
.advancedadvice .container .img .imggroup2 .textgroup h5 {
  margin-left: 275px;
  color: #FFFFFF;
}
/* line 1110, ../sass/style.scss */
.advancedadvice .container .img .imggroup2 .textgroup p {
  color: #B4C1CC;
  width: 300px;
  margin-left: 217px;
  margin-top: 4px;
  font-size: 14px;
}
/* line 1118, ../sass/style.scss */
.advancedadvice .container .img .imggroup2 .horizntalline {
  width: 200px;
}
@media screen and (max-width: 667px) {
  /* line 1118, ../sass/style.scss */
  .advancedadvice .container .img .imggroup2 .horizntalline {
    display: none;
  }
}
/* line 1124, ../sass/style.scss */
.advancedadvice .container .img .imggroup2 .verticalline {
  height: 155px;
  margin-top: 9px;
}
@media screen and (min-width: 670px) {
  /* line 1124, ../sass/style.scss */
  .advancedadvice .container .img .imggroup2 .verticalline {
    display: none;
  }
}
/* line 1132, ../sass/style.scss */
.advancedadvice .container .img .mockup {
  width: 830px;
  height: 420px;
  margin-top: 60px;
  margin-left: 100px;
}
/* line 1140, ../sass/style.scss */
.advancedadvice .longline {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 120px;
  margin-top: 60px;
}
@media screen and (max-width: 667px) {
  /* line 1140, ../sass/style.scss */
  .advancedadvice .longline {
    display: none;
  }
}

/* line 1152, ../sass/style.scss */
.footer {
  background: #FFFFFF;
  height: 550px;
}
/* line 1157, ../sass/style.scss */
.footer .container .footertop h3 {
  font-size: 20px;
  color: #3f4c58;
  letter-spacing: 0;
  text-align: center;
  padding-top: 50px;
}
@media screen and (max-width: 667px) {
  /* line 1157, ../sass/style.scss */
  .footer .container .footertop h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #637593;
    letter-spacing: 0.3px;
    line-height: 18px;
    text-align: center;
    margin-left: -64%;
  }
}
/* line 1173, ../sass/style.scss */
.footer .container .footertop p {
  padding-top: 50px;
  font-size: 18px;
  color: #3f4c58;
  letter-spacing: 0;
  text-align: center;
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  line-height: 28px;
}
@media screen and (max-width: 667px) {
  /* line 1173, ../sass/style.scss */
  .footer .container .footertop p {
    font-family: 'Open Sans', sans-serif;
    width: 300px;
    font-size: 15px;
    color: #637593;
    letter-spacing: 0;
    text-align: center;
    margin-left: 15px;
    padding-bottom: 30px;
  }
}
/* line 1195, ../sass/style.scss */
.footer .container .footertop .donwloadhome {
  width: 200px;
  height: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
@media screen and (max-width: 667px) {
  /* line 1195, ../sass/style.scss */
  .footer .container .footertop .donwloadhome {
    margin-left: 6%;
  }
}
/* line 1206, ../sass/style.scss */
.footer .container .footertop .mv-footer-images {
  display: inline;
  margin-left: 6%;
}
@media screen and (min-width: 667px) {
  /* line 1206, ../sass/style.scss */
  .footer .container .footertop .mv-footer-images {
    display: none;
  }
}
/* line 1212, ../sass/style.scss */
.footer .container .footertop .mv-footer-images a {
  padding: 0 15px;
}
/* line 1217, ../sass/style.scss */
.footer .container .footerbottom {
  margin-top: 100px;
  border-top: 1px solid #B4C1CC;
}
@media screen and (max-width: 667px) {
  /* line 1217, ../sass/style.scss */
  .footer .container .footerbottom {
    width: 39%;
    margin-top: 55px;
  }
}
/* line 1224, ../sass/style.scss */
.footer .container .footerbottom .footer-images {
  display: inline;
  margin-left: 30%;
}
@media screen and (max-width: 667px) {
  /* line 1224, ../sass/style.scss */
  .footer .container .footerbottom .footer-images {
    display: none;
  }
}
/* line 1230, ../sass/style.scss */
.footer .container .footerbottom .footer-images a {
  padding: 0 15px;
}
/* line 1233, ../sass/style.scss */
.footer .container .footerbottom .footer-images .img-png {
  height: 19px;
  width: 15px;
}
/* line 1237, ../sass/style.scss */
.footer .container .footerbottom .footer-images a:hover {
  color: green;
}
/* line 1241, ../sass/style.scss */
.footer .container .footerbottom ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
}
/* line 1247, ../sass/style.scss */
.footer .container .footerbottom a {
  font-size: 12px;
  color: #b2b8be;
  letter-spacing: 0;
  line-height: 12px;
  text-align: center;
  display: inline-block;
  margin-top: 30px;
}
/* line 1256, ../sass/style.scss */
.footer .container .footerbottom li {
  display: inline;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  padding: 10px 10px 20px 10px;
  float: right;
  font-family: 'Open ', sans-serif;
}
@media screen and (max-width: 667px) {
  /* line 1256, ../sass/style.scss */
  .footer .container .footerbottom li {
    padding: 0 0 0 10px;
  }
}
